html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  text-align: justify;
}

.background-header {
  background-color: #DEC2BF;
}

.header-container {
  max-width: 1400px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 20px;
  height: 250px;
}
@media (max-width: 500px) {
  .nav {
    flex-direction: column;
    justify-content: space-around;
  }
}
.nav__logo {
  color: black;
  font-size: 5rem;
}
.nav__cart__icon {
  color: black;
  font-size: 3rem;
}

.background-footer {
  background-color: #DEC2BF;
}

.footer {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  height: 150px;
  align-items: center;
  font-size: 2rem;
}
.footer__link {
  color: black;
}

.products-container {
  max-width: 1400px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.products__product {
  background-color: lightgrey;
  width: 48%;
  margin: 10px;
  border-radius: 20px;
}
@media (max-width: 1025px) {
  .products__product {
    width: 100%;
  }
}
.products .product-link {
  text-decoration: none;
  color: black;
  width: 100%;
}
.products .product-link__img {
  width: 100%;
}
.products .product-link__infos {
  padding: 0 20px 20px 20px;
}
.products .product-link__infos__title {
  font-size: 3rem;
}
.products .product-link__infos__price {
  font-size: 2rem;
}

.img-size {
  height: 430px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
}
.container .product-card {
  margin: 50px 15px;
  display: flex;
  flex-direction: column;
  width: 600px;
  background: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
}
.container .product-card__img {
  border-radius: 20px 20px 20px 20px;
}
.container .product-card__infos {
  color: black;
  padding: 15px;
  height: 100%;
}
.container .product-card__infos__title {
  font-size: 32px;
}
.container .product-card__infos__description {
  font-size: 18px;
  margin: 10px 0;
}
.container .product-card__infos__price {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}
.container .product-card__infos__buttons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.container .product-card__infos__quantity {
  margin-bottom: 20px;
}
.container .product-card__infos__varnish {
  margin-bottom: 40px;
}
.container .product-card__infos .added-to-cart-confirmation {
  visibility: hidden;
}
.container .product-card__infos .added-to-cart-confirmation p {
  padding: 5px;
  background-color: #64c264;
  border: #368a36 1px solid;
}
.container .product-card__infos .product-card__infos__button {
  padding: 20px;
  background: lightgreen;
  border-radius: 5px;
  border: solid 1px black;
  color: black;
}
.container .product-card__infos .back-to-home {
  background: #d8d8d8;
}
.container .product-card__img {
  height: 50%;
  width: 100%;
  background: #444;
}
.container .product-card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

#num {
  width: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  background: white;
}
.container .cart-card {
  overflow: hidden;
  margin: 50px 15px;
  display: none;
  width: 600px;
  background: lightgrey;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
}
.container .cart-card .cart {
  margin-left: 10px;
}
.container .cart-card__recap {
  margin: 10px 0 10px 10px;
  width: 90%;
  background: grey;
}
.container .cart-card__recap__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .cart-card__recap .first-line {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 19px;
  text-decoration: underline;
}
.container .cart-card__recap__title {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 120px;
  height: 30px;
  font-weight: bold;
}
.container .cart-card__recap__data {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 120px;
  margin: 2px 0;
  height: 30px;
}
.container .cart-card__recap__data .fa-trash:hover {
  cursor: pointer;
  opacity: 0.7;
  font-size: 17px;
  transition: 0.3s;
}
.container .cart-card__recap .cart-card__form__button {
  margin: 5px 0;
  width: 130px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px black;
  color: red;
  text-align: center;
}
.container .cart-card__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100%;
}
.container .cart-card__form .form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.container .cart-card__form .name-and-lastname {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .cart-card__form .postal-and-city {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .cart-card__form .cart-card__form-line {
  margin: 5px 0px;
}
.container .cart-card__form .cart-card__form-line label {
  display: none;
}
.container .cart-card__form .cart-card__form-line {
  width: 100%;
  max-width: 300px;
}
.container .cart-card__form #bloc__phone {
  width: 100%;
}
.container .cart-card__form #bloc__mail {
  width: 100%;
}
.container .cart-card__form #bloc__mail input[type=text] {
  margin: 10px;
}
.container .cart-card__form #bloc__mail #bloc__adress {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .cart-card__form__buttons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.container .cart-card__form__quantity {
  margin-bottom: 20px;
}
.container .cart-card__form__color {
  margin-bottom: 40px;
}
.container .cart-card__form .cart-card__form__button {
  padding: 20px;
  background: lightgreen;
  border-radius: 5px;
  border: solid 1px black;
}
.container .cart-card__form .erreur {
  padding: 5px 0;
  color: red;
}
.container .cart-card__form .to-pay {
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.container .cart-card__form .to-pay:hover {
  cursor: pointer;
  opacity: 0.8;
}
.container .if-empty-cart {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 90vh;
}
.container .if-empty-cart h2 {
  margin-top: 75px;
}
.container .if-empty-cart h2 a {
  color: black;
  text-decoration: underline;
}
.container .total {
  margin-bottom: 0;
}

.title-quantity {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title-remove {
  display: flex;
  justify-content: center;
  align-self: center;
}

.data-bin {
  display: flex;
  justify-content: center;
  align-self: center;
}

.data-quantity {
  display: flex;
  justify-content: center;
  align-self: center;
}

.width-to-empty-cart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.width-to-empty-cart .to-empty-cart {
  display: flex;
  justify-content: center;
  align-self: center;
}
.width-to-empty-cart .to-empty-cart:hover {
  cursor: pointer;
  opacity: 0.8;
}

.recap {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  background: white;
}
.recap .confirm {
  padding: 20px;
  overflow: hidden;
  margin: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 600px;
  background: lightgray;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
  text-decoration: none;
  height: 200px;
}
.recap p {
  font-size: 19px;
}
.recap p span {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
