html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  text-align: justify;
}

.header {
  background-color: #f4e9f1;
}

.nav {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  height: 200px;
  width: 450px;
}
.nav__link {
  font-size: 1.5rem;
  color: white;
}
.nav__link__a {
  text-decoration: none;
  color: gray;
  margin: 20px;
}

.footer {
  background-color: #f4e9f1;
}
.footer__link {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__link__title {
  font-size: 4rem;
  color: black;
  margin: 10px 0 20px 0;
}

.footer-icon {
  color: gray;
  font-size: 2rem;
  padding: 0 10px 0 10px;
}

.main {
  max-width: 1400px;
  margin: auto;
  padding: 42px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: gray;
  border-radius: 20px;
  width: 32%;
  height: auto;
  box-shadow: 5px 5px 5px lightgray;
  margin-bottom: 25px;
}
.card__link__img {
  padding: 10px;
}
.card__link__img__item {
  border-radius: 20px 20px 0 0;
}
.card__link__description {
  padding: 0 15px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  align-items: flex-start;
  width: 100%;
}
.card__link__description__title {
  width: 70%;
  padding-bottom: 10px;
}
.card__link__description__price {
  width: 30%;
  font-size: 1.5rem;
}
.card__link__description__description {
  width: 100%;
}

.item-card {
  background-color: gray;
  border-radius: 20px;
  width: 60%;
  box-shadow: 5px 5px 5px lightgray;
  color: white;
}
.item-card__img {
  padding: 10px;
}
.item-card__img__cam {
  border-radius: 20px 20px 0 0;
}
.item-card__info {
  padding: 0 15px 15px 15px;
  display: flex;
  flex-wrap: wrap;
}
.item-card__info__title {
  width: 100%;
  padding: 15px 0 5px 0;
}
.item-card__info__description {
  width: 100%;
  padding: 5px 0 15px 0;
  font-size: 1.1rem;
}
.item-card__info__price {
  width: 50%;
  padding: 5px 0 5px 0;
  font-size: 1.5rem;
}
.item-card__info__model {
  width: 50%;
  margin: 5px 0 5px 0;
  font-size: 1.3rem;
}
.item-card__info__button {
  width: 20%;
  height: 40px;
  margin: 5px auto 0 auto;
  border-radius: 10px;
  background-color: #f4e9f1;
  color: color-secondary;
}

/*# sourceMappingURL=style.css.map */
