.basket{
    background-color: $color-secondary;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 20px;
    &__empty{
        padding: 10px;
    }
    &__img{
        padding: 20px 20px 20px 50px;
        height: auto;
        width: 20%;
        &__picture{
            width: 100%;
            border-radius: 20px;
        }
    }
    &__info{
        padding: 20px 50px 20px 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__price{
           margin-left:auto;
           font-size: 1.8rem;
        }
    }
}

.total{
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    justify-content: flex-end;
    &__price{
        padding-right: 40px;
    }
}

.form{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    &__title{
        width: 100%;
        margin-bottom: 20px;
    }
    &__firstname{
        width: 50%;
        padding: 5px;
        &__input{
            margin-left: 119px;
        }
    }
    &__lastname{
        width: 50%;
        padding: 5px;
        &__input{
            margin-left: 60px;
        }
    }
    &__adress{
        width: 100%;
        padding: 5px;
        &__input{
            margin-left: 60px;
        }
    }
    &__city{
        width: 50%;
        padding: 5px;
        &__input{
            margin-left: 141px;
        }
    }
    &__mail{
        width: 50%;
        padding: 5px;
        &__input{
            margin-left: 54px;
        }
    }
    &__button{
        padding: 5px;
        margin: 20px 0 10px 0;
                
    }
}