.header{
    background-color: $color-primary;
};

.nav{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        height: 200px;
        width: 450px;
    }
    &__link{
        font-size: 1.5rem;
        color: white;
        display: flex;
        align-items: center;
        &__a{
            text-decoration: none;
            color: $color-secondary;
            padding: 20px;
        }
        &__indicator{
            height: 40px;
            width: 40px;
            margin: 0 40px 0 0px;
            padding-top: 10px;
            border-radius: 100%;
            background-color: red;
            text-align: center;
            visibility: hidden;
        }
    }
}
.main{
    max-width: 1400px;
    margin: auto;
    padding: 42px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
};