.background-footer{
    background-color: #DEC2BF;
}
.footer{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    font-size: 2rem;
    @media (max-width: 500px) {
        flex-direction: column;
        justify-content: space-around;
    }
    &__link{
        color: black;
    }
}